@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {

    --ff: "Alata", sans-serif;
    font-family: var(--ff);
    font-weight: 400;
    font-style: normal;
}

.fs-7 {
    font-size: 15px;
}